flows.json
[{"id":"2ad8fc41f2d816a2","type":"tab","label":"IFSP","disabled":false,"info":"","env":[]},{"id":"9bba2e7f98fa783d","type":"mqtt in","z":"2ad8fc41f2d816a2","name":"","topic":"topic/motor","qos":"2","datatype":"auto-detect","broker":"e488605e7f76de24","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":80,"wires":[["99b4d7335c7783c8","48825672951a4ee9"]]},{"id":"356c6be616e45259","type":"debug","z":"2ad8fc41f2d816a2","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":140,"wires":[]},{"id":"dc341d0a4d9d97b9","type":"mqtt out","z":"2ad8fc41f2d816a2","name":"","topic":"topic/motor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e488605e7f76de24","x":410,"y":260,"wires":[]},{"id":"64276b5f1182efa1","type":"ui_button","z":"2ad8fc41f2d816a2","name":"","group":"b326c5a6.ff2428","order":2,"width":5,"height":1,"passthru":false,"label":"Liga Motor","tooltip":"","color":"","bgcolor":"#66FF99","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":260,"wires":[["dc341d0a4d9d97b9","7674174f5d132098"]]},{"id":"99b4d7335c7783c8","type":"ui_text","z":"2ad8fc41f2d816a2","group":"b326c5a6.ff2428","order":8,"width":5,"height":1,"name":"","label":"Motor Status","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":60,"wires":[]},{"id":"e1946972cb4b12bb","type":"ui_button","z":"2ad8fc41f2d816a2","name":"","group":"b326c5a6.ff2428","order":5,"width":5,"height":1,"passthru":false,"label":"Desliga Motor","tooltip":"","color":"","bgcolor":"#E06666","icon":"","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":320,"wires":[["dc341d0a4d9d97b9","7674174f5d132098"]]},{"id":"ef97759a5815d74d","type":"mqtt in","z":"2ad8fc41f2d816a2","name":"","topic":"topic/alertatemp","qos":"2","datatype":"auto-detect","broker":"e488605e7f76de24","nl":false,"rap":true,"rh":0,"inputs":0,"x":80,"y":500,"wires":[["b4f1ff8a3fedfa74","c7de24f423cc89a0"]]},{"id":"b4f1ff8a3fedfa74","type":"ui_text","z":"2ad8fc41f2d816a2","group":"b326c5a6.ff2428","order":11,"width":5,"height":1,"name":"","label":"Alerta Temperatura","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":500,"wires":[],"icon":"node-red/alert.svg"},{"id":"48825672951a4ee9","type":"postgresql","z":"2ad8fc41f2d816a2","name":"psql-wvieira","query":"SELECT id,status,temperatura,to_char(registro,'DD-MM-YYYY HH24:MI:SS') as registro FROM motorlog;","postgreSQLConfig":"980b8b859bf7914f","split":false,"rowsPerMsg":1,"outputs":1,"x":390,"y":120,"wires":[["356c6be616e45259","842535b6888f2356"]]},{"id":"7674174f5d132098","type":"function","z":"2ad8fc41f2d816a2","name":"Insert Database","func":"var statusmotor = msg.payload;\nvar temperatura = false;\n\nmsg.payload = {}\nmsg.payload.statusmotor = statusmotor;\nmsg.payload.temperatura = temperatura;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["34a3e1910f0c2dc5"]]},{"id":"34a3e1910f0c2dc5","type":"postgresql","z":"2ad8fc41f2d816a2","name":"psql-wvieira","query":"INSERT INTO motorlog (status,temperatura) VALUES ('{{msg.payload.statusmotor}}',{{msg.payload.temperatura}});","postgreSQLConfig":"980b8b859bf7914f","split":false,"rowsPerMsg":1,"outputs":1,"x":450,"y":400,"wires":[["b6fb6aeb5086cc9c"]]},{"id":"842535b6888f2356","type":"ui_table","z":"2ad8fc41f2d816a2","group":"b326c5a6.ff2428","name":"","order":13,"width":9,"height":5,"columns":[{"field":"id","title":"Id","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"status","title":"Status","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temperatura","title":"Temp","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"registro","title":"Registro","width":"40%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":610,"y":80,"wires":[]},{"id":"c7de24f423cc89a0","type":"switch","z":"2ad8fc41f2d816a2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":600,"wires":[["b26c4a892ba47cde"]]},{"id":"b26c4a892ba47cde","type":"function","z":"2ad8fc41f2d816a2","name":"Insert Database","func":"var statusmotor = \"off\";\nvar temperatura = true;\n\nmsg.payload = {}\nmsg.payload.statusmotor = statusmotor;\nmsg.payload.temperatura = temperatura;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":600,"wires":[["8651f589406866c8"]]},{"id":"8651f589406866c8","type":"postgresql","z":"2ad8fc41f2d816a2","name":"psql-wvieira","query":"INSERT INTO motorlog (status,temperatura) VALUES ('{{msg.payload.statusmotor}}',{{msg.payload.temperatura}});","postgreSQLConfig":"980b8b859bf7914f","split":false,"rowsPerMsg":1,"outputs":1,"x":450,"y":680,"wires":[["b6fb6aeb5086cc9c"]]},{"id":"b6fb6aeb5086cc9c","type":"postgresql","z":"2ad8fc41f2d816a2","name":"psql-wvieira","query":"SELECT id,status,temperatura,to_char(registro,'DD-MM-YYYY HH24:MI:SS') as registro FROM motorlog;","postgreSQLConfig":"980b8b859bf7914f","split":false,"rowsPerMsg":1,"outputs":1,"x":630,"y":520,"wires":[[]]},{"id":"e488605e7f76de24","type":"mqtt-broker","name":"mqttwvieira","broker":"mqtt.wvieira.com.br","port":"8083","tls":"eee08f01.8d6ff","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b326c5a6.ff2428","type":"ui_group","name":"Projeto 1 - Liga / Desliga Motor com Ponte H","tab":"efb6a88b.c27088","order":2,"disp":true,"width":"9","collapse":false},{"id":"980b8b859bf7914f","type":"postgreSQLConfig","name":"","host":"psql.wvieira.com.br","hostFieldType":"str","port":"5432","portFieldType":"num","database":"iot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"leandro","userFieldType":"str","password":"0110@2022x","passwordFieldType":"str"},{"id":"eee08f01.8d6ff","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"efb6a88b.c27088","type":"ui_tab","name":"IFSP","icon":"dashboard","order":4,"disabled":false,"hidden":false}]